/* Basic */

a {
  text-decoration: none;
  color: inherit;
  border-bottom: dotted 1px rgba(128, 128, 128, 0.5);
  -moz-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
  -webkit-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
  -ms-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
  transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
  outline: 0;
}

/* Form */

form input[type="text"],
form input[type="email"],
form input[type="password"],
form select,
form textarea {
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

/* Button */

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), url("images/overlay.png");
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), url("images/overlay.png");
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), url("images/overlay.png");
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), url("images/overlay.png");
  -moz-transition: background-color 0.35s ease-in-out;
  -webkit-transition: background-color 0.35s ease-in-out;
  -ms-transition: background-color 0.35s ease-in-out;
  transition: background-color 0.35s ease-in-out;
}

/* Header */

#nav ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
  #header .top {
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
  }

  #header .bottom {
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
  }

  #nav ul li {
    padding-left: 0;
  }

    #nav ul li a {
      display: block;
      padding: 0.5em 1.5em 0.5em 1.5em;
      color: rgba(255, 255, 255, 0.5);
      text-decoration: none;
      outline: 0;
      border: 0;
      -moz-transition: none;
      -webkit-transition: none;
      -ms-transition: none;
      transition: none;
    }

      #nav ul li a span {
        position: relative;
        display: block;
        font-size: 0.8em;
      }

        #nav ul li a span:before {
          position: absolute;
          left: 0;
          color: #41484c;
          text-align: center;
          width: 1.25em;
          line-height: 1.75em;
        }

      #nav ul li a.active {
        background: rgba(0, 0, 0, 0.15);
        box-shadow: inset 0 0 0.25em 0 rgba(0, 0, 0, 0.125);
        color: #fff;
      }

        #nav ul li a.active span:before {
          color: #e27689;
        }



/* Narrower */


@media screen and (max-width: 960px) {

  
  /* Header */

    #header {
      -moz-backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      backface-visibility: hidden;
      -moz-transform: translateX(-275px);
      -webkit-transform: translateX(-275px);
      -ms-transform: translateX(-275px);
      transform: translateX(-275px);
      -moz-transition: -moz-transform 0.5s ease;
      -webkit-transition: -webkit-transform 0.5s ease;
      -ms-transition: -ms-transform 0.5s ease;
      transition: transform 0.5s ease;
      -webkit-overflow-scrolling: touch;
    }

    #headerToggle {
      -moz-backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      backface-visibility: hidden;
      -moz-transition: -moz-transform 0.5s ease;
      -webkit-transition: -webkit-transform 0.5s ease;
      -ms-transition: -ms-transform 0.5s ease;
      transition: transform 0.5s ease;
    }

    body.header-visible #main {
      -moz-transform: translateX(275px);
      -webkit-transform: translateX(275px);
      -ms-transform: translateX(275px);
      transform: translateX(275px);
    }

    body.header-visible #headerToggle {
      -moz-transform: translateX(275px);
      -webkit-transform: translateX(275px);
      -ms-transform: translateX(275px);
      transform: translateX(275px);
    }

    body.header-visible #header {
      -moz-transform: translateX(0);
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }

  /* Main */

    #main {
      -moz-backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      backface-visibility: hidden;
      -moz-transition: -moz-transform 0.5s ease;
      -webkit-transition: -webkit-transform 0.5s ease;
      -ms-transition: -ms-transform 0.5s ease;
      transition: transform 0.5s ease;
    }
}